<div class="zone-association-wrapper">

  <div class="colonne-depot">
    <h3 class="zone-titre">Dépose ici dans l'ordre ↓</h3>
    <div class="zone-association">
      @for (c of cellules; track i; let i = $index) {
        <app-association-zone
          [cell]="c"
          [index]="i"
          (dropItem)="drop(i)"
          (clickCell)="clickCell(i)"
          (dragStartCell)="dragStartDepuisCellule($event)">
        </app-association-zone>
      }
    </div>
  </div>

  <div class="colonne-disponible">
    <h3 class="zone-titre">Éléments disponibles</h3>
    <div class="elements-dispo"
         (dragover)="$event.preventDefault()"
         (drop)="dropDansZoneDispo()">
      @for (e of elementsDispo; track e.elemTheme.id) {
        <app-association-element
          [elem]="e"
          [selected]="selection === e"
          (dragStartItem)="dragStart(e)"
          (clickItem)="selectItem(e)">
        </app-association-element>
      }
    </div>
  </div>

  <div class="colonne-hors-theme">
  <h3 class="zone-titre">Eléments hors association (zone non intéractive)</h3>

  <div class="elements-hors-theme">
    @for (e of elementsHorsTheme; track e.elemTheme.id) {
      <app-association-element
        [elem]="e"
        [selected]="false">
      </app-association-element>
    }
  </div>
  </div>

</div>



<app-association-message
  [messages]="messages">
</app-association-message>

<div class="btn-assoc-row">
  <button class="btn-aide" (click)="utiliserAide()">Aide</button>
  <button class="btn-verifier" (click)="verifier()" [disabled]="!toutesRemplies">Vérifier</button>
</div>
