<div class="stat-card accueilli-profile">
    <div class="profile-photo">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="Photo">
    </div>
    <div class="profile-info">
        <div class="profile-header">
            <h2>{{ accueilli.nom }}</h2>
        </div>

        <div class="profile-details">
            <p><strong>Âge :</strong> <span>{{ accueilli.age }}</span></p>
            <p><strong>Niveau :</strong> 
                <span class="badge" 
                      [style.backgroundColor]="accueilli.couleurStade" 
                      [style.color]="accueilli.colorTexte">
                    {{ accueilli.level }}
                </span>
            </p>
        </div>
        <div class="profile-therapy">
            <p><strong>Objectif thérapeutique : </strong>{{ accueilli.objectif }}</p>
        </div>
    </div>
</div>