.plateau {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 490px;
  margin: 20px auto;
}

.btn-aide {
  display: block;
  margin: 20px auto 20px;
  background: #453750;
  color: #DBE9EE;
  padding: 10px 22px;
  border-radius: 30px;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
}

.btn-aide:hover { background-color: #875C74; }
