<main>
  <h1>Paramètres</h1>

  <app-param-level
    label="Paramètres par défaut selon le niveau de difficulté"
    description="Les différents paramètres seront automatiquement adaptés"
    (valueChange)="onNiveauChange($event)">
  </app-param-level>

  <app-param-qcm 
    label="Format du jeu"
    [options]="['Memory', 'Association']"
    [checked]="[configLocale.formatJeu]"
    (selectionChange)="updateSetting('formatJeu', $event[0])">
  </app-param-qcm>

  <app-param-qcm 
    label="Thèmes du jeu"
    [options]="['Habillement selon la météo', 'Faire du thé', 'Brossage de dents', 'Faire la cuisine et la vaisselle', 'Faire les courses']"
    [checked]="settings.themes">
  </app-param-qcm>

  <app-param-slider 
    label="Taille de la police"
    [min]="16" [max]="32" [value]="settings.fontSize" [step]="1" unit="px"
    iconMin="A" iconMax="A"
    (valueChange)="updateSetting('taillePolice', $event)">
  </app-param-slider>

  <app-param-plateau 
    label="Taille du plateau"
    [(value)]="configLocale.plateau">
  </app-param-plateau>

  <app-param-counter 
    label="Temps de retournement"
    description="En cas d'erreur les cartes restent face visible {value}s avant de se retourner."
    [min]="1" [max]="5" [value]="configLocale.tempsRetenue"
    (valueChange)="updateSetting('tempsRetenue', $event)">
  </app-param-counter>

  <app-param-counter 
    label="Fréquence d'aide"
    description="Recevoir une aide toutes les {value} erreurs."
    [min]="3" [max]="15" [value]="configLocale.frequenceAide"
    (valueChange)="updateSetting('frequenceAide', $event)">
  </app-param-counter>

  <app-param-qcm 
    label="Type d'aide pour le memory"
    [options]="['Surbrillance paire', 'Partiel visible', 'Flash intégral']"
    [checked]="[configLocale.aideMemo]"
    (selectionChange)="updateSetting('aideMemo', $event[0])">
  </app-param-qcm>

  <app-param-qcm 
    label="Type d'aide pour la partie association"
    [options]="['Surbrillance couple', 'Réordonner']"
    [checked]="[configLocale.aideAssoc]"
    (selectionChange)="updateSetting('aideAssoc', $event[0])">
  </app-param-qcm>

  <button class="btn-save" (click)="sauvegarder()">
    Sauvegarder les paramètres
  </button>
</main>